.filter {
  &-contact {
    background-color: $primary-white;
    border-top: $primary-blue 3px solid;
    padding: 15px;
    margin: 15px 0;
  }
  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    &-input {
      flex-basis: 30%;
      margin: 5px 15px;
      overflow: auto;
    }
  }
}

@media (max-width: 600px) {
  .form-filter-input {
    flex-basis: 50%;
  }
}
