.position-header-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.overflow-content {
  overflow: auto;
  height: 600px;
}

.loading-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form {
  &-corporate {
    width: 80%;
  }
}
