.button-header {
  width: 100px;
  margin-right: 10px;
}

.image {
  width: 200px;
  border-radius: 50%;
  &-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    border: 0.1px solid $primary-dark;
    border-radius: 50%;
    padding: 10px;
  }
}
