.error {
  font-family: "Circular Std", sans-serif !important;
  &-page {
    &-container {
      display: flex;
      flex-direction: column;
      .img-error {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 70%;
        margin: 5%;
      }
      .btn {
        width: 20%;
        background-color: $ternary-green-light;
        margin: 2% 40%;
        color: $primary-white;
        font-family: "Circular Std", sans-serif !important;
      }
    }
  }
  &-title {
    color: $ternary-green-light;
    margin: 0 5%;
    margin-top: 1%;
    font-family: inherit;
  }
  &-subtitle {
    color: $primary-blue;
    margin: 0 5%;
    margin: 1%;
    font-family: "Nunito", sans-serif;
  }
}
