$primary-dark: rgb(0, 0, 0);
$secondary-dark: rgb(128, 128, 128);

$primary-white: rgb(255, 255, 255);
$secondary-white: rgb(242, 242, 242);

$primary-green: rgb(90, 218, 90);
$primary-green-light: rgb(137, 197, 49);
$ternary-green-light: rgb(50, 205, 50);
$primary-green-dark: rgb(94, 150, 40);
$secondary-green-light: rgb(125, 217, 125);

$primary-blue: rgb(23, 162, 184);
$primary-blue-light: rgb(110, 172, 255);

$primary-red: rgb(255, 0, 0);
$primary-red-light: rgb(247, 107, 90);

$primary-orange: rgb(255, 127, 0);
$primary-orange-light: rgb(247, 156, 58);
$primary-orange-dark: rgb(216, 140, 20);

$primary-yellow: rgb(251, 255, 0);

$primary-grey-light: rgb(88, 99, 101);
$secondary-grey-light: rgb(112, 112, 112);
$primary-grey-semilight: rgb(34, 45, 51);
$secondary-grey-semilight: rgb(167, 165, 165);
$primary-grey-dark: rgb(22, 27, 31);

//add css logic
$theme: rgb(247, 156, 58);

$box-shadow: 0.25rem 0.25rem 0.25rem rgba($primary-dark, 0.1);

$default-font-size: 1rem;
