.loading {
  &-card {
    width: 30%;
    &-page {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &-container {
      background-color: white;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 2rem;
      border-radius: 1rem;
      margin: 2rem;
    }
  }
}
