.collaboration {
  &-list {
    width: 100%;
  }
  &-filter {
    &-by {
      cursor: pointer;
      margin: 1%;
      .fa {
        margin-left: 0.5%;
      }
    }
    .btn {
      &-reset {
        display: block;
        margin-top: 2%;
      }
    }
    &-content {
      cursor: pointer;
      display: inline-flex;
      margin: 2%;
      &-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
      &:hover {
        color: $secondary-dark;
      }
    }
  }
}
