.collaboration {
  &-details {
    background-color: $primary-white;
    width: 100%;
    margin: 1rem;
    margin-bottom: 4rem;
    @media (max-width: 900px) {
      overflow: auto;
    }
  }

  &-filter {
    background-color: $primary-white;
    display: block;
    border-radius: 0.4rem;
    width: 100%;
    padding: 1%;
    margin: 0 2% 0 2%;
    .filter {
      &-by {
        margin: 1%;
      }
      &-content {
        cursor: pointer;
      }
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    .option {
      font-size: 1.5rem;
      margin: 5%;
      cursor: pointer;
    }
  }
}
