.collaboration-form {
  display: flex;
  justify-content: space-between;
}

.form {
  &-title {
    margin-top: 10px;
  }
  &-control-text {
    width: 100%;
    margin-top: 10px;
  }
  .fields {
    margin-top: 10px;
  }
}
