.btn {
  margin: 0 0.5rem;
  border: none;
  border-radius: 0.2rem;
  &:hover {
    cursor: pointer;
  }
  &-view {
    &-detail {
      background-color: $primary-blue;
    }
    &-contact {
      background-color: $primary-orange;
    }
  }

  &-second {
    background-color: $primary-orange;
  }

  &-loading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    border-radius: 5px;
    background-color: $secondary-white;
    height: 35px;
    color: $primary-white;
    font-size: 15px;
  }

  &-bar {
    width: 100px;
    margin-right: 10px;
  }

  &-add {
    background-color: $primary-blue-light !important;
    padding: 0 0.7rem !important;
    color: $primary-white !important;
  }

  &-login {
    padding: 1% !important;
  }

  &-reset {
    background-color: $primary-green !important;
    color: $primary-white !important;
  }
}
