.sub-header {
  font-size: 15px;
  color: $primary-grey-light;
}

.modal-style {
  padding-left: 2px;
  padding-right: 2px;
}

.container {
  font-size: 20px;
  color: $secondary-grey-light;
  &-header {
    font-size: 40px !important;
    color: $secondary-dark !important;
    display: inline;
  }
  .sub-header {
    color: $secondary-grey-light;
  }
  &-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondary-dark !important;
    font-size: 35px !important;
    margin: 3%;
    .image {
      width: 20%;
      height: 20%;
      margin: 5% 5%;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
  }
}
