.checkbox {
  input[type="checkbox"] {
    --active: #{$primary-dark};
    --active-inner: #{$primary-white};
    --border: #{primary-grey-dark};
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 2.9vh;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 1%;
    width: 22px;
    cursor: pointer;
    border: 1px solid $primary-dark;
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    &:after {
      content: "";
      position: absolute;
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
    }
  }
  input[type="checkbox"] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
  }
}
