.form {
  display: flex;
  flex-direction: column;
  &-control {
    &-text {
      display: block;
      outline: 0;
      border-width: 0 0 1.7px;
      width: 100%;
      border-color: rgba($secondary-dark, 0.5);
      &:focus {
        border-color: $primary-grey-semilight;
      }
    }
  }
  &-container {
    background-color: $primary-white;
    padding: 2%;
    border-radius: 0.3rem;
    margin: 2%;
    box-shadow: $box-shadow;
    .corporate {
      display: flex;
    }
  }
}

.action {
  &-button {
    right: 0;
    margin: 0%;
  }
}
.upload {
  &-image {
    margin-right: 5%;
    .image {
      &-preview {
        margin: 6%;
      }
    }
  }
}

select:disabled {
  background-color: rgba($secondary-dark, 0.7) !important;
}
