.modal {
  &-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($primary-dark, 0.2);
  }

  &-style {
    border-radius: 0.5rem;
    width: 35rem;
    height: max-content;
    padding: 1rem 2rem;
    background-color: $primary-white;
    box-shadow: 0 0 10px 3px rgba($primary-dark, 0.2);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-body {
    font-size: 20px;
  }

  &-close {
    color: $primary-dark !important;
  }
}
