.navbar {
  &-height {
    height: 2.5vw;
  }

  &-styling {
    border-color: none;
    color: $primary-white;
    border: 1px solid $primary-grey-dark;
  }
}

.btn-border {
  border: 0px !important;
  color: $primary-dark !important;

  &:hover {
    color: $primary-white !important;
    background-color: $primary-grey-semilight !important;
  }
}

.settings-button {
  font-size: 125% !important;
  cursor: pointer;
  color: white;
}
