#button-next,
#button-prev {
  background-color: $secondary-grey-semilight;
  padding: 0.2rem 0.7rem;
  border-radius: 0.3rem;
  margin: 0 1%;
  cursor: pointer;
  font-weight: bold;
  color: $secondary-white;
  font-size: 1.5rem;
}

#button-next,
#button-prev {
  &:hover {
    background-color: rgba($secondary-grey-light, 0.7);
  }
}

.pagination {
  margin: 2%;
  bottom: 0;
  position: absolute;
  margin-left: 40%;
  @media (max-width: 1290px) {
    position: static !important;
  }
}

.card-pagination {
  .pagination {
    margin: 2%;
    bottom: 0;
    position: static;
    margin-left: 40%;
  }
}
.page {
  &-current,
  &-max {
    margin: 0 0.5rem;
  }
}
