.search-container {
  display: flex;
  flex-direction: row;
  button {
    padding: 0.25em;
    background-color: $primary-white;
    height: 2em;
    font-size: 1em;
    border: none;
    border-left: 1.7px solid rgba($secondary-dark, 0.5);
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  input {
    padding: 0.25em;
    font-size: 1em;
    border: none;
    border-radius: 5px 0px 0px 5px;
    &:focus {
      outline: none;
    }
  }
}
