.select {
  &-container {
    display: flex;
    flex-direction: column;
    label {
      font-size: 1.3rem;
    }
  }
  &-inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &-scroll {
    margin: 0 1.2rem;
    padding-left: 1rem;
    width: 10rem;
    border-radius: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
}
