.sidebar-list {
  padding: 10px 25px !important;
  transition: 0.5s ease;
  color: $primary-white;
  outline: none;
  margin-right: 0;

  &:hover {
    background-color: $primary-grey-dark;
    color: $theme;
    outline: none;
  }
}

.active-sidebar {
  background-color: $primary-grey-dark !important;
}

.link-decoration:hover {
  text-decoration: none;
}

.dropdown-btn {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-list {
  padding: 10px 33px !important;
  transition: 0.5s ease;
  color: $primary-white;
  outline: none;
  min-width: 5px;
  padding-left: 50px;

  &:hover {
    background-color: $primary-grey-dark;
    color: $primary-orange;
    outline: none;
  }
}

.hidden-dropdown {
  display: none;
}
