.sidebar {
  background-color: $primary-grey-semilight !important;
  background-color: #343c49;
  height: 100%;
  padding: 12px 0 0 0;
  &-menu {
    width: 100%;
    padding: 1rem 30px;
  }
  &-box {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
    transition: 1s;
  }

  &-buncis-logo {
    height: 3.7rem;
  }

  &-caption {
    color: $primary-grey-light;
    margin-left: 3.2vh;
    margin-right: 0;
  }

  &-copyright {
    color: $primary-grey-light;
    position: absolute;
    bottom: 0;
    padding: 20px;
  }

  &-close {
    max-width: 0;
  }
  &-open {
    width: 16rem;
  }
  &-profile-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 1rem;
    margin: 12px 0;
  }
}

.font-size-sidebar-name {
  font-size: 1.2rem;
}

.buncis-logo-box {
  padding: 0.5rem 1rem;
  margin-bottom: 3%;
}
