.table {
  width: max-content;
  border-collapse: collapse;
  th,
  td {
    border: none;
  }
  &-header {
    background-color: none;
    color: $primary-grey-light;
    text-align: center;
    &-item {
      border-left: 0.1rem solid $secondary-white;
    }
  }

  &-body {
    background-color: $primary-white;
  }
}
