.status-profile {
  border-radius: 10px;
  margin: 2px;
  padding: 20px;
}

.profile-role {
  color: $primary-grey-light;
}

.sidebar-profile-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.username {
  color: $primary-white;
  font-family: inherit;
  font-weight: bold;
  font-size: 2rem;
}
