.profile-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.status-profile-menu {
  background-color: $primary-white;
  position: absolute;
  width: 10rem;
  top: 3.8rem;
  z-index: 99;
  right: 7px;
  box-shadow: 1px 1px 5px $secondary-dark;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    padding: 8px 0;
    cursor: pointer;
  }
}

#status-profile-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
}

.options {
  background-color: $secondary-white;
  width: 100%;
  text-align: center;

  & > * {
    text-decoration: none;
    color: $primary-dark;
  }

  &:hover {
    padding: 10xp 10px;
    background-color: $secondary-dark;

    & > a {
      text-decoration: none;
      color: $primary-white;
    }
  }
}
