.login {
  font-family: "Circular Std", sans-serif !important;
  display: flex;
  opacity: 100% !important;
  justify-content: space-evenly;
  margin: 2rem 0;
  &-buncis-text {
    font-family: inherit;
    margin-bottom: 10%;
    font-size: 3rem;
    span {
      color: $ternary-green-light;
    }
  }

  &-text {
    font-family: inherit;
    font-size: 5em;
    margin-bottom: 20%;
  }

  &-image {
    img {
      max-width: 35rem;
      max-height: 30rem;
      height: auto;
      width: auto;
      margin: 0 5rem;
    }
  }

  &-forms {
    .form-subtitle {
      font-family: "Nunito", sans-serif;
      font-weight: bold;
      opacity: 60%;
    }
    .btn {
      width: 100%;
      padding: 3%;
      margin: 10% 0 0 0;
      background-color: $ternary-green-light;
      color: $primary-white;
      font-family: inherit;
      font-size: 1.8rem;
    }
    input {
      font-family: inherit;
      font-size: 1.1rem;
    }
  }

  &-form {
    font-size: 1rem;
    width: 20em;
    margin-bottom: 10%;
    outline: none;
    opacity: 100% !important;
    border-width: 0 0 0.15em 0;
    border-color: $secondary-grey-light;
    &:focus {
      border-color: $secondary-dark;
    }
  }

  .copyright {
    position: relative;
    top: 7em;
    font-size: 0.9rem;
    font-family: "Nunito", sans-serif;
    color: $secondary-dark;
  }
}
