.card-content {
  .card {
    &-actions {
      display: flex !important;
      flex-direction: row !important;
      font-size: 1.3rem;
      justify-content: space-around;
      width: 300px;
      .details {
        cursor: pointer;
        display: flex !important;
        background-color: $primary-white;
        i {
          margin: 10%;
        }
      }
      .action {
        &-edit {
          color: $primary-orange;
          margin: 0 5px;
        }
        &-delete {
          color: $primary-red;
          margin: 0 20px;
        }
      }
    }
  }
}
.card-container {
  width: fit-content;
  background-color: $primary-white;
  margin: 1%;
  padding: 1%;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba($primary-dark, 0.2);
  display: flexbox;
  flex-direction: column;
  .card {
    &-details {
      display: flex;
      justify-content: center !important;
      flex-direction: row;
      margin: 0.5rem;
      height: 2.5rem;
      font-size: 1.4rem;
      padding-left: 20px;
      background-color: rgba($primary-dark, 0.1);
      border-radius: 1.5rem;
      &-item {
        &-contact {
          color: $primary-blue-light;
        }
        &-collab {
          color: $secondary-green-light;
        }
      }
    }
    &-icon {
      display: inline-block;
      cursor: pointer;
      width: 85px;
      margin: 0 0.9%;
      i {
        margin: 0 5%;
      }
    }
    &-information {
      display: flex;
      flex-direction: row;
      &-header {
        display: flex;
        flex-direction: column;
      }
    }
    &-image {
      width: 90px;
      height: 90px;
      border-radius: 100%;
    }
    &-title {
      text-align: center;
      font-size: 1.6rem;
      margin-bottom: 0 !important;
    }
  }
}
