.collaboration-type {
  &-table {
    @media (max-width: 900px) {
      overflow: auto;
    }
    width: 100%;
    background-color: white;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba($primary-dark, 0.2);
    border-radius: 0.3rem;
  }
}
