.box {
  border-radius: 7px;
  overflow: hidden;
  &:hover {
    box-shadow: 3px 3px 7px rgba($primary-dark, 0.3);
  }
}

.widget-user {
  &-username {
    font-size: 25px !important;
    font-weight: 400 !important;
  }

  &-header {
    min-height: 4rem;
    height: 8rem;
    padding: 15px !important;
    align-items: center;
  }

  &-image > img {
    margin-right: 4px;
    height: 50px;
    width: 50px;
  }
}

.details-card-corporate {
  margin-left: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.corporate-modal-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 0.7px solid $secondary-white;
}

.nav-stacked {
  display: inline !important;
}

.btn-loading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 25px;
  border-radius: 5px;
  background-color: $secondary-white;
  height: 35px;
  color: $primary-white;
  font-size: 15px;
}

.header-img-loading {
  float: left;
  height: 65px;
  width: 65px;
  border-radius: 100%;
  background-color: $secondary-white;
  z-index: 999;
}

.corporate {
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2%;
  }
}
