.icon {
  font-size: 4em;
  text-align: right;
}

.btn {
  color: $primary-white;
  &-view {
    &-detail {
      background-color: $primary-blue;
    }
    &-contact {
      background-color: $primary-orange;
    }
  }

  &-right {
    float: right;
    cursor: pointer;
  }
}

.card {
  &-body {
    color: $primary-white !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  &-subtitle {
    color: $primary-grey-light;
    width: max-content;
  }

  &-detail {
    padding: 20px;
  }

  &-dashboard {
    width: 65%;
    .card {
      border-radius: 0.4rem;
      box-shadow: 0.25rem 0.25rem 0.25rem rgba($primary-dark, 0.1);
    }
  }

  &-footer {
    border-radius: 0 0 0.3rem 0.3rem !important;
    padding: 6px 10px !important;
    &-content {
      display: flex;
      justify-content: flex-end;
      h6 {
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.table-dashboard {
  background-color: $primary-white;

  width: 25% !important;
  @media (max-width: 1080px) {
    width: 20rem !important;
    margin-top: 2rem;
  }
  padding: 1.5%;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba($primary-dark, 0.1);
  .table {
    border-spacing: none;
    &-title {
      margin: 2%;
      text-align: center;
      color: $primary-grey-light;
    }
    &-header-item {
      background-color: $primary-red-light !important;
      border: none;
      color: $primary-white !important;
    }
    th {
      background-color: rgba($primary-grey-light, 0.15);
      border-bottom: 2px solid rgba($primary-grey-dark, 0.2);
      color: $primary-grey-light;
    }
    thead tr:first-child {
      th:first-child {
        border-radius: 0.6em 0 0 0;
      }
      th:last-child {
        border-radius: 0 0.6em 0 0;
      }
    }
    tbody tr:last-child {
      th:first-child {
        border-radius: 0 0 0 0.6em;
        border-bottom: none;
      }
      th:last-child {
        border-radius: 0 0 0.6em 0;
        border-bottom: none;
      }
    }
  }
}

tspan {
  margin: 0 !important;
}

.collaboration {
  &-container {
    @media (max-width: 1080px) {
      overflow: auto;
    }
    border-radius: 0.3rem;
    font-size: 0.9rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba($primary-dark, 0.1);
    background-color: $primary-white;
    padding: 10px;
    margin-right: 15px;
    .dropdown {
      font-size: 1.1rem;
      &-container {
        display: inline-block flex;
        position: absolute;
        width: 100%;
        list-style-type: none;
        .option {
          width: inherit;
          text-align: center;
          &:hover {
            background-color: rgba($primary-grey-light, 0.25);
          }
        }
      }

      .btn-bar {
        cursor: pointer;
      }
    }

    .text {
      font-size: 1rem;
      width: 10%;
      text-align: center;
    }

    .select {
      &-container {
        display: flex;
        justify-content: center;
      }
      &-filter {
        margin-left: 2%;
        margin-right: 2%;
        background-color: none;
        border-color: transparent;
        cursor: pointer;
        width: 10%;
        height: 20%;

        &:focus {
          outline: none !important;
        }
      }
      &-options {
        padding: 0.5%;
        border-radius: 0.3rem;
        .fa-angle-down {
          cursor: pointer;
        }
      }
    }
  }
}

.content {
  display: flex;
  padding: 10px;
  @media (max-width: 1093px) {
    flex-direction: column;
  }
  &-footer {
    cursor: pointer;
    color: $theme;
    float: right;
  }
  &-footer:hover {
    opacity: 0.8;
  }
}
