@font-face {
  src: url("@assets/fonts/weblysleekuil.ttf");
  font-family: Webly Sleek UI Light;
}

@font-face {
  src: url("@assets/fonts/CircularStd-Bold.otf");
  font-family: "Circular Std";
}

@font-face {
  src: url("@assets/fonts/Nunito-Regular.ttf");
  font-family: "Nunito";
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-white !important;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.page {
  &-container {
    display: flex;
  }
}

.color-page-content {
  background-color: #ebeff5 !important;
  transition: 1s;
  min-height: 100vh;
}

.Toastify {
  position: fixed !important;
  z-index: 999 !important;
}

.content {
  ::-webkit-scrollbar {
    width: 12px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: $secondary-white;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba($secondary-dark, 0.7);
    height: 2px;
    border-radius: 2rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba($primary-grey-semilight, 0.7);
  }
  &-title {
    color: $primary-grey-light;
  }
}
