.yellow {
  color: $primary-yellow;
}

.orange {
  color: $primary-orange;
  &-light {
    color: $primary-orange-light !important;
  }
  &-dark {
    color: $primary-orange-dark !important;
  }
}

.red {
  color: $primary-red;
}

.green {
  color: $primary-green !important;
}

.blue {
  color: $primary-blue-light !important;
}

.bg-green {
  background-color: $primary-green !important ;
}

.bg-blue {
  background-color: $primary-blue-light !important ;
}

.black {
  color: $primary-dark;
}

.bg-theme {
  //css logic here
  background-color: $primary-orange-light !important;
}

.theme {
  //css logic here
  color: $primary-orange-light !important;
}
