.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row.m-2 {
  height: 100% !important;
  display: flex !important;
  justify-content: space-evenly !important;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.content-form {
  background-color: $primary-white;
  overflow: auto;
  border-top: $primary-blue 3px solid;
}

.layout-style {
  display: flex;
  justify-content: space-between;
}

.button-style {
  width: 100px !important;
  margin-right: 10px !important;
}

.background-style {
  background-color: $primary-white;
  border-top: $primary-blue 3px solid;
}

.col-10 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.col-12 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
